# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out/
coverage/
demo.svg
_tmp_*.svg

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Package manager lockfiles
package-lock.json

# OS / Editor folders
.DS_Store
.env
.env.*
.vscode/
.idea/

.vercel
